body{
 background-color: rgba(238, 207, 30, 0.938);
}
.tabela1{
    width: 2500px;
}
.imagem1{
    width: 50%;
}
.mododepreparo1{
    font-size: 175%;
}
.mododepreparo2{
    font-size: 175%
}
h1 {
    color: rgb(128, 58, 9);
}
.tamanho{
    font-size: 250%;
}